#projects {
    margin-left: 1rem;
}

.project_card {
    margin-left: 1rem;
    margin-top: 1rem;
    display: inline-block;
    width: 20.5rem;
    height: auto;
    border-radius: 2%;
    border: 1px solid black;
}

.project_thumbnail {
    width: 15rem;
    height: auto;
    margin-left: 2.5rem;
    padding: 1px;
}

.project_thumbnail:hover {
    transition: 0s;
    border: 1px solid black;
    padding: 0;
}

.see-project-details {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2.5rem;
}

.see-project-details:hover {
    cursor: grab;
    text-decoration-line: underline;
}

.project_brief {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.65);
}

.brief_container {
    overflow: hidden;
    height: 5rem;
    margin-top: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project_title {
    margin: 0;
    margin-left: 2.5rem;
    position: relative;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

#project_info {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.project_info_hdr {
    font-family: Arial, Helvetica, sans-serif;
}

#project_info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#top_bar {
    padding-top: 0.7rem;
    margin-top: -10px;
    position: fixed;
    display: flex;
    width: 100%;
    margin-left: 0;
    background-color: white;
    border-bottom: 1px solid;
}

.top_bar_option {
    color: black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.7rem;

    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}


.top_bar_option:hover {
    cursor: grab;
    color: black;
    text-decoration: underline;
    text-decoration-line: underline;
}

.top_bar_selected {
    color: grey;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.about_me_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.collapse_box_select {
    padding-left: 0.75rem;
}

.improved_li {
    list-style-type: none;
    border-left: 3px solid grey;
    padding-left: 1rem;
    margin-left: 1rem;
}


.improved_link {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

.improved_link:hover {
    color: blue;
    text-decoration: underline;
}

.donation_menthod_list {
    padding-left: 1rem;
    list-style-type: none;
}

.improved_bold {
    color: black;
}

.header_2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#donation_text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#licence_text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
