* {
    font-family: 'Courier New', Courier, monospace;
}

#body {
    background-color: #1a191d;
}

#app {
    margin-left: 25rem;
    margin-right: 25rem;
    padding-top: 1rem;
}

.section {
    border: 1px solid orangered;
    padding: 10px;
    margin-bottom: 1rem;
}

.top-bar-item {
    text-decoration: none;
    color: yellow;
    font-size: xx-large;
}

.text-section {
    color: white;
    border-left: 4px;
    padding-left: 1rem;
    font-size: 20px;
}

h1, h2, h3 {
    margin-top: 5px;
    color: yellow;
}

ul {
    list-style-type: "> ";
}

li {
    color: darkgray;
}

li::marker {
    color: darkmagenta;
}

a {
    color: white;
}

.repo {
    padding: 5px;
    border: 1px solid white;
    margin-bottom: 5px;
}

.repo:hover {
    cursor: pointer;
}

.lang, .star_label {
    color: white;
}

.description {
    color: green;
}

.blog-entery {
    color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10;
}

.blog-date {
    color: darkorchid;
    font-size: large;
    font-weight: bolder;
}
