* {
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}

h2 {
    color: yellow;
}

a {
    color: inherit;
}

.section {
    border: 4px solid darkviolet;
    box-shadow: 5px 5px 2px 1px rgba(182, 15, 182, 0.2);
    padding: 1rem;
    color: white;
}

#body {
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: #1a191d;
}

#greeting {
    color: yellow;
    padding: 1rem;
    border: 1px solid white;
    font-size: xxx-large;
}

ul {
    list-style-type: circle;
}

li::marker {
    color: yellow;
}

table, th, td {
    border: 1px solid grey;
}

tr {
    height: 2rem;
}
